<div class="container-fluid">
  <div class="page-header">
    <h1>Ludoplay</h1><small>A quoi avez vous jouez et quand y avez vous joué.</small>
  </div>
  {{outlet}}
  {{outlet 'modal'}}
</div><!-- /.container -->
